@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* colors  */

:root {
  /* primary */
  --cyan: hsl(177, 68%, 64%);
  --red: hsla(12, 94%, 65%, 1);
  --orange: hsla(33, 100%, 70%, 1);
  --white: hsla(20, 33%, 98%, 1);
  --black: hsla(244, 23%, 12%, 1);
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'IBM Plex Sans',
    sans-serif;
  background-image: url(./assets/bg-main-desktop.png),
    url(./assets/bg-pattern-1.svg);
  background-repeat: no-repeat;
  background-size: auto, 350px;
  background-position: top -368px left -254px, right top -40px;
  background-size: auto, 300px;
  background-position: top -368px left -254px,
    right top -40px;
}

header {
  padding-top: 40px;
}

.logo {
  transition: ease-in-out 0.2s;
}

.logo:hover {
  filter: invert(55%) sepia(62%) saturate(1642%) hue-rotate(327deg) brightness(103%) contrast(96%);
  transition: ease-in-out 0.2s;
}

.logo {
  padding: 12px 0;
}

h1,
.gradient-text {
  font-size: 5.5rem;
  line-height: 1;
  letter-spacing: -1px;
  width: 53rem;
  height: 184px;
}

.gradient-text {
  background-image: linear-gradient(90deg, #66E2DC 0%, #FA7453 25%, #6edeff 50%, #ffbc00 75%, #66E2DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 2000%;
  background-position: -100%;
  animation: animatedText 10s linear infinite;
}

@keyframes animatedText {
  to {
    background-position: 50%;
  }
}

/* border radius 12px */
.br-12 {
  border-radius: 0.75rem;
}

.body-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  width: 53rem;
  color: var(--black);
}

/* container + hero section */
.container {
  max-width: 68.75rem;
  margin: 0 160px;
}

.hero-section {
  padding-top: 120px;
}

.hero-section p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  width: 53rem;
  color: var(--black);
  padding-top: 2.5rem;
  padding-bottom: 340px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 104px;
  align-items: center;
  color: var(--white);
  background: var(--black) url(./assets/bg-pattern-2.svg) no-repeat left 338px top;
}

.phone {
  height: 642px;
  width: auto;
  transform: translateY(-170px);
}

/* card section */

.card {
  padding: 4.125rem 3.5rem 2.75rem 3.5em;
  background-color: var(--red);
  transform: translateY(90px);
}

.card h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 28px;
}

.card-p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7;
  margin-bottom: 32px;
}

.card-pricing {
  display: flex;
  gap: 12px;
  color: var(--white);
  align-items: center;
  margin-bottom: 32px;
}

.card-pricing h3 {
  font-size: 4.0625rem;
  font-weight: 700;
}

.card-pricing span {
  margin: 10px 0;
  font-weight: 400;
  font-size: 1.25rem;
}

/* button */

.btn-ios img,
.btn-android img {
  height: 100%;
}

.btn-ios,
.btn-android {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1.4rem;
  gap: 10px;
  width: 95%;
  padding: 20px 15px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.btn-ios {
  background-color: var(--black);
  margin-bottom: 1.125rem;
}

.btn-ios:hover {
  background-color: var(--cyan);
}

.btn-android {
  color: var(--black);
  background-color: var(--white);
}

.btn-android:hover {
  background-color: var(--orange);
}

/* footer */
.footer {
  display: flex;
  column-gap: 40px;
  margin-top: 200px;
  margin-bottom: 80px;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.footer p {
  width: 21rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  margin-left: -220px;
  color: var(--black);
}

.footer img {
  height: 100%;
  transition: ease-in-out 0.2s;
}

.footer img:hover {
  filter: invert(55%) sepia(62%) saturate(1642%) hue-rotate(327deg) brightness(103%) contrast(96%);
  transition: ease-in-out 0.2s;
}

.social-icon {
  display: flex;
  gap: 20px;
}

.social-icon img {
  height: 24px;
}